<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora de TRL</title>
    <link rel="stylesheet" href="/static/css/styles_fields.css">
</head>
<body>
    <div class="header">
        <div class="logo-container">
            <img src="/static/images/logo_concytec_horizontal.png" alt="Logo1" class="logo">
            <img src="/static/images/logo_vinculate.png" alt="Logo2" class="logo">
        </div>
        <h1>Calculadora TLR/CRL</h1>
        <span class="version">Versión alpha</span>
    </div>
    </div>
    
    <section class="section">
        <form action="/pesca/evaluacion" method="post">
            {%for campo,datos in data.items() %}
            <fieldset>
                    <legend>{{datos.title}}</legend>
                    {%for question in datos.questions%}
                        <label>
                            <input type="checkbox" name={{datos.title}} value={{question.pregunta.TRL}}> {{question.pregunta.enunciado}}
                        </label>
                    {%endfor%}
                    <label><input type="checkbox" name={{datos.title}} value="none"> No cumplo con ninguna de las alternativas</label>
                </fieldset>
            {%endfor%}
            <input type="submit" value="Evaluar">
        </form>
    </section>
    
</body>
</html>
