<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TRL Chart</title>
    <link rel="stylesheet" href="/static/css/styles_resultados.css">
</head>
<body>
    <h3>El TRL de su proyecto es: </h3>
    <div class="container">
        <div class="row">
            <div class="column bordered">
                <div class="section">Investigación Básica</div>
                <div class="circle trl1">TRL 1</div>
                <div class="circle trl2">TRL 2</div>
            </div>
            <div class="column bordered">
                <div class="section">Investigación Aplicada</div>
                <div class="circle trl3">TRL 3</div>
                <div class="circle trl4">TRL 4</div>
            </div>
            <div class="column bordered">
                <div class="section">Desarrollo Tecnológico</div>
                <div class="circle trl5">TRL 5</div>
                <div class="circle trl6">TRL 6</div>
                <div class="circle trl7">TRL 7</div>
            </div>
            <div class="column bordered">
                <div class="section">Innovación</div>
                <div class="circle trl8">TRL 8</div>
                <div class="circle trl9">TRL 9</div>
            </div>
        </div>
    </div>
    <script src="script.js"></script>
</body>
</html>