<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TRL Chart</title>
    <link rel="stylesheet" href="/static/css/styles_resultados.css">
</head>
<body>
    {%if data.TRL != 'none' %}
        <h3>El TRL de su proyecto es: {{data.TRL}} </h3>
    {%endif%}

    {%if data.phase != 'none' %}
        <h3>Usted se encuentra en un {{data.TRL}}. Por lo tanto, está en una fase de {{data.phase}}</h3>
    {%else%}
        <h3>Los resultados de su proyecto no alcanza algún nivel de TRL.</h3>
    {%endif%}
    <h4>Alternativas seleccionadas:</h4>
    {%if data.answers == "No ha seleccionado ninguna opción" %}
        <p>{{data.answers}}</p>
    {%else%}
        {%for answer in data.answers%}
            <p> {{answer}} </p>
        {%endfor%}
    {%endif%}
    <div class="container">
        <div class="row">
            <div class="column bordered">
                <div class="section">Investigación Básica</div>
                <div class="circle trl1">TRL 1</div>
                <div class="circle trl2">TRL 2</div>
            </div>
            <div class="column bordered">
                <div class="section">Investigación Aplicada</div>
                <div class="circle trl3">TRL 3</div>
                <div class="circle trl4">TRL 4</div>
            </div>
            <div class="column bordered">
                <div class="section">Desarrollo Tecnológico</div>
                <div class="circle trl5">TRL 5</div>
                <div class="circle trl6">TRL 6</div>
                <div class="circle trl7">TRL 7</div>
            </div>
            <div class="column bordered">
                <div class="section">Innovación</div>
                <div class="circle trl8">TRL 8</div>
                <div class="circle trl9">TRL 9</div>
            </div>
        </div>
    </div>
    <script src="script.js"></script>
</body>
</html>