<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TRL Chart</title>
    <link rel="stylesheet" href="/static/css/styles_resultados.css">
</head>
<body>

    <div class="header">
        <div class="title-container">
            <h1>RESULTADOS</h1>
        </div>
    </div>

    {%if data.TRL != 'none' %}
        <h2>El TRL de su proyecto es: {{data.TRL}} </h2>
    {%endif%}

    {%if data.phase != 'none' %}
        <h2>Usted se encuentra en un {{data.TRL}}. Por lo tanto, está en una fase de {{data.phase}}</h2>
    {%else%}
        <h2>Los resultados de su proyecto no alcanza algún nivel de TRL.</h2>
    {%endif%}
    <h3>Alternativas seleccionadas:</h3>
    <ul>
        {%if data.answers == "No ha seleccionado ninguna opción" %}
        <li>{{data.answers}}</li>
        {%else%}
            {%for answer in data.answers%}
                <li> {{answer}} </li>
            {%endfor%}
        {%endif%}
    </ul>

    
    <!-- Barra -->

    <div class="container">
        <div class="row">
            <div class="column bordered">
                <div class="section">Investigación Básica</div>
                {%if data.TRL == 'TRL1'  or data.TRL == 'TRL3' or data.TRL == 'TRL4' or data.TRL == 'TRL5' or data.TRL == 'TRL6' or data.TRL == 'TRL7' or data.TRL == 'TRL8' or data.TRL == 'TRL9' %}
                    <div class="containerProgressBar">
                        <div class="itemProgres">
                            <p class="trlTag">TRL1</p>                        
                            <div class="progressBar " id="TRL1"></div>
                        </div>
                    </div>
                {%endif%}
            </div>
            <div class="column bordered">
                <div class="section">Investigación Aplicada</div>
                {%if data.TRL == 'TRL2' or data.TRL == 'TRL3' or data.TRL == 'TRL4' or data.TRL=='TRL5' or data.TRL == 'TRL6' or data.TRL == 'TRL7' or data.TRL=='TRL8' or data.TRL=='TRL9'%}
                    <div class="containerProgressBar">
                        {%if data.TRL=='TRL2' or data.TRL == 'TRL3' or data.TRL=='TRL4' or data.TRL=='TRL5' or data.TRL == 'TRL6' or data.TRL == 'TRL7' or data.TRL=='TRL8' or data.TRL=='TRL9'%}
                            <div class="itemProgres">
                                <p class="trlTag">TRL2</p>
                                <div class="progressBar " id="TRL2"></div>    
                            </div>
                        {%endif%}
                        {%if data.TRL=='TRL3' or data.TRL=='TRL4' or data.TRL=='TRL5' or data.TRL == 'TRL6' or data.TRL == 'TRL7' or data.TRL=='TRL8' or data.TRL=='TRL9' %}
                            <div class="itemProgres">
                                <p class="trlTag">TRL3</p>
                                <div class="progressBar " id="TRL3"></div>    
                            </div>
                        {%endif%}
                        {%if data.TRL=='TRL4' or data.TRL=='TRL5' or data.TRL == 'TRL6' or data.TRL == 'TRL7' or data.TRL=='TRL8' or data.TRL=='TRL9' %}
                            <div class="itemProgres">
                                <p class="trlTag">TRL4</p>
                                <div class="progressBar " id="TRL4"></div>    
                            </div>
                        {%endif%}
                    </div>                    
                {%endif%}
            </div>
            <div class="column bordered">
                <div class="section">Desarrollo Tecnológico</div>
                {%if data.TRL == 'TRL5' or data.TRL == 'TRL6' or data.TRL == 'TRL7' or data.TRL=='TRL8' or data.TRL=='TRL9'%}
                    <div class="containerProgressBar">
                        {%if data.TRL=='TRL5' or data.TRL == 'TRL6' or data.TRL == 'TRL7' or data.TRL=='TRL8' or data.TRL=='TRL9' %}
                            <div class="itemProgres">
                                <p class="trlTag">TRL5</p>
                                <div class=" progressBar" id="TRL5"></div>
                            </div>
                        {%endif%}
                        {%if data.TRL=='TRL6' or data.TRL == 'TRL6' or data.TRL == 'TRL7' or data.TRL=='TRL8' or data.TRL=='TRL9' %}
                            <div class="itemProgres">
                                <p class="trlTag">TRL6</p>
                                <div class=" progressBar" id="TRL6"></div>
                            </div>
                        {%endif%}
                        {%if data.TRL=='TRL7' or data.TRL == 'TRL6' or data.TRL == 'TRL7' or data.TRL=='TRL8' or data.TRL=='TRL9' %}
                            <div class="itemProgres">
                                <p class="trlTag">TRL7</p>
                                <div class=" progressBar" id="TRL7"></div>
                            </div>
                        {%endif%}
                    </div>
                {%endif%}
            </div>
            <div class="column bordered">
                <div class="section">Innovación</div>
                {%if data.TRL == 'TRL8' or data.TRL == 'TRL9' %}
                    <div class="containerProgressBar">
                        {%if data.TRL=='TRL8' or data.TRL=='TRL9' %}
                            <div class="itemProgres">
                                <p class="trlTag">TRL8</p>
                                <div class=" progressBar" id="TRL8"></div>
                            </div>
                        {%endif%}
                        {%if data.TRL=='TRL9'%}
                            <div class="itemProgres">
                                <p class="trlTag">TRL9</p>
                                <div class=" progressBar" id="TRL9"></div>
                            </div>
                        {%endif%}
                    </div>                
                {%endif%}
            </div>
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded',function () {
            
        })
    </script>
</body>
</html>