<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora TLR/CRL</title>
    <link rel="stylesheet" href="/static/css/styles_trl.css">
</head>
<body>
    <header>
        <div class="header-container">
            <div class="logo-container">
                <img src="/static/images/logo_concytec_horizontal.png" alt="Logo1" class="logo">
                <img src="/static/images/logo_vinculate.png" alt="Logo2" class="logo">
            </div>
            <h1>Calculadora TLR/CRL</h1>
            <span class="version">Versión alpha</span>
        </div>
    </header>
    <main>
        <div class="categories">
            <a href="/ingenieria_tecnologia/" class="category">Ingeniería y Tecnología</a>
            <a href="/software_hardware/" class="category">Software y Hardware</a>
            <a href="/agricultura_silvicultura/" class="category">Agricultura</a>
            <a href="/pesca/" class="category">Pesca</a>
            <a href="/ciencias_medicas_salud/" class="category">Ciencias Médicas</a>
            <a href="/generales/" class="category">Generales</a>
        </div>
    </main>
</body>
</html>
