{% extends "base.html" %}

{%block stylesheet%} /static/css/styles_fields.css {%endblock%}

{%block header%}
    <div class="header">
        <div class="title-container">
            <h1>Calculadora TRL-Ingeniería y Tecnología</h1>
        </div>
        <div class="version">
            Versión alpha 1.2
        </div>
    </div>
{%endblock%}

{%block content%}

    <section class="section">
        <form action="/ingenieria_tecnologia/evaluacion" method="post">
            {%for campo,datos in data.items() %}
            <fieldset>
                <legend>{{datos.title}}</legend>
                {%for question in datos.questions%}
                    <label>
                        <input type="checkbox" name="{{datos.title}}" value="{{question.pregunta.TRL}}" class="option"> {{question.pregunta.enunciado}}
                    </label>
                {%endfor%}
                <label>
                    <input type="checkbox" name="{{datos.title}}" value="none" class="none-option" onclick="handleNoneOption(this)"> No cumplo con ninguna de las alternativas
                </label>
            </fieldset>
            {%endfor%}
            <input type="submit" value="Evaluar" onclick="redirectToResultPage()">
        </form>
    </section>
    <script src="/static/js/script.js"></script>
    <script>
        function handleNoneOption(element) {
            const fieldset = element.closest('fieldset');
            const options = fieldset.querySelectorAll('.option');
            options.forEach(option => {
                option.checked = false;
                option.disabled = element.checked;
            });
        }
    </script>
{%endblock%}

