
.card {
    background-color: #4dbbd4;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    width: 250px;  
    transition: transform 0.3s ease;
    margin-bottom: 20px;
}

.card:hover {
    transform: translateY(-5px);
}

.card a {
    text-decoration: none;
    color: inherit;
}

.card img {
    width: 100%;
    height: 200px;
}

.card h3 {
    color: white;
    margin: 15px 0 10px;
    font-size: 1.5em;
}

.card p {
    padding: 0 15px 20px;
    color: white;
    font-size: 1em;
}

.card-trl p

.card::after {
    content: "";
    display: block;
    width: 50px;
    height: 2px;
    background-color: white;
    margin: 10px auto;
}

body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: white;
    font-size: 0.8em;
}

/* Para la cabecera */
header {
    background-color: #a1bf47;
    padding: 20px;
}

header h1 {
    margin: 0;
    font-size: 3em;
    color: white;
    flex-grow: 1;
    text-align: center;
}

.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.version {
    color: grey;
}

.version1 {
    font-size: 0.8 em;
    color: #555;
}

/* Para el contenedor de logos */
.logo-container {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white; /* Fondo blanco para el contenedor */
    padding: 10px 0; /* Espacio vertical alrededor de los logos */
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); /* Sombra para destacar el contenedor */
    z-index: 1000; /* Asegura que el contenedor esté por encima de otros elementos */
}

.logo {
    width: 150px;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.categories {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Tres columnas */
    gap: 20px;
    justify-items: center; /* Centrar elementos horizontalmente */
    padding: 20px;
}

.category {
    position: relative;
    background-color: #4dbbd4;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    width: 250px;
    transition: transform 0.3s ease;
    margin-bottom: 20px;
    text-decoration: none;
    color: white;
}

.category:hover {
    transform: translateY(-5px);
}

.category img {
    width: 100%;
    height: auto;
    display: block;
}

.category span {
    position: absolute;
    bottom: 40%;
    left: 10px;
    right: 10px;
    padding: 10px;
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 1.7em;
}

.submenu {
    display: none;
    flex-direction: column;
    gap: 10px;
    background-color: #333;
    padding: 10px;
}

.category:hover .submenu {
    display: flex;
}

.submenu a {
    color: white;
    text-decoration: none;
}

.submenu a:hover {
    text-decoration: underline;
}

/* Media Queries para hacer el diseño responsivo */
@media (min-width: 768px) {
    .header-container {
        flex-direction: row;
        justify-content: space-between;
    }

    .version {
        font-size: 1.8em;
    }

    .logo {
        width: 200px;
    }

    .category {
        width: 250px;  /* Ajuste para pantallas medianas */
    }
}

@media (min-width: 1200px) {
    .category {
        width: 300px;  /* Ajuste para pantallas grandes */
    }
}
