body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0d1128;
    font-family: Arial, sans-serif;
    color: white;
}

.container {
    text-align: center;
}

h1 {
    font-size: 4em;
    font-family: 'Orbitron', sans-serif;
    margin-bottom: 70px;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.button {
    display: inline-flex;
    align-items: center;
    padding: 15px 30px;
    border: none;
    border-radius: 30px;
    background-color: #345b63;
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    font-family: 'Orbitron', sans-serif;
    transition: background-color 0.3s;
    position: relative;
}

.button .arrow {
    margin-left: 15px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    background-color: #2b2f77;
    border-radius: 50%;
    transition: background-color 0.3s;
}

.button:hover .arrow {
    background-color: #4caf50;
}

@media (max-width: 768px) {
    h1 {
        font-size: 3em;
        margin-bottom: 50px;
    }

    .button-container {
        flex-direction: column;
        gap: 20px;
    }

    .button {
        padding: 10px 20px;
        font-size: 1.2em;
    }

    .button .arrow {
        width: 24px;
        height: 24px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 2em;
        margin-bottom: 30px;
    }

    .button {
        padding: 8px 16px;
        font-size: 1em;
    }

    .button .arrow {
        width: 20px;
        height: 20px;
    }
}
