/*body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0d1128;
    font-family: Arial, sans-serif;
    color: white;
}

.container {
    text-align: center;
}

h1 {
    font-size: 4em;
    font-family: 'Orbitron', sans-serif;
    margin-bottom: 70px;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.button {
    display: inline-flex;
    align-items: center;
    padding: 15px 30px;
    border: none;
    border-radius: 30px;
    background-color: #345b63;
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    font-family: 'Orbitron', sans-serif;
    transition: background-color 0.3s;
    position: relative;
}

.button .arrow {
    margin-left: 15px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    background-color: #2b2f77;
    border-radius: 50%;
    transition: background-color 0.3s;
}

.button:hover .arrow {
    background-color: #4caf50;
}

@media (max-width: 768px) {
    h1 {
        font-size: 3em;
        margin-bottom: 50px;
    }

    .button-container {
        flex-direction: column;
        gap: 20px;
    }

    .button {
        padding: 10px 20px;
        font-size: 1.2em;
    }

    .button .arrow {
        width: 24px;
        height: 24px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 2em;
        margin-bottom: 30px;
    }

    .button {
        padding: 8px 16px;
        font-size: 1em;
    }

    .button .arrow {
        width: 20px;
        height: 20px;
    }
}
*/
body {
    font-family: 'Merriweather', serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    display: flex;
    gap: 50px;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #fff; /* Fondo blanco para el contenedor */
    padding: 10px 0; /* Espacio vertical alrededor de los logos */
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); /* Sombra para destacar el contenedor */
    z-index: 1000; /* Asegura que el contenedor esté por encima de otros elementos */
    padding-bottom: 30px;
}

.logo {
    width: 400px;

}

header h1 {
    margin: 0;
    font-size: 3em;
    color: #333;
    flex-grow: 1;
    text-align: center;
}

.version {
    font-size: 1.8em;
    color: #666;
}

main {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.card {
    margin-top: 100px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    width: 450px;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.card a {
    text-decoration: none;
    color: inherit;
}

.card img {
    width: 100%;
    height: auto;
}

.card h3 {
    color: #007BFF;
    margin: 15px 0 10px;
    font-size: 2.5em;
}

.card p {
    padding: 0 15px 20px;
    color: #555;
    font-size: 1.5em;
}

.card::after {
    content: "";
    display: block;
    width: 50px;
    height: 2px;
    background-color: #ff6600;
    margin: 10px auto;
}
