

body {
    font-family: 'Merriweather', serif;
    margin: 50px;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.title-container {
    flex-grow: 1;
    text-align: center;
    font-size: 4em;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    width: 100%;
}
.row {
    display: flex;
    justify-content: center;
    width: 100%;
}

h2{
    font-size: 3em;
}

h3{
    font-size: 3em;
}

li{
    font-size: 2em;
}

.circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    font-size: 12px;
    color: white;
}
.circle.trl1 { background-color: #003f5c; }
.circle.trl2 { background-color: #2f4b7c; }
.circle.trl3 { background-color: #665191; }
.circle.trl4 { background-color: #a05195; }
.circle.trl5 { background-color: #d45087; color: black; }
.circle.trl6 { background-color: #f95d6a; color: black; border: 1px solid #ccc; }
.circle.trl7 { background-color: #ff7c43; color: black; border: 1px solid #ccc; }
.circle.trl8 { background-color: #ffa600; color: black; border: 1px solid #ccc; }
.circle.trl9 { background-color: #ffcc00; color: black; border: 1px solid #ccc; }
.label {
    font-size: 12px;
    text-align: center;
    margin-top: 5px;
}
.section {
    text-align: center;
    font-weight: bold;
    margin: 20px;
    font-size: 3em;
}
.bordered {
    border: 1px solid #ccc;
    padding: 10px;
}
.progressBar {
    height: 6rem;
    width: 100%;
    border-radius: 5px;
    text-align: center;
    line-height: 20px;
    color: white;
}
.containerProgressBar {
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center ;
}
.itemProgres{
    width: 100%;
}
.trlTag{
    text-align: center;
    font-weight: bold;
    font-size: 2.5em;
}
#TRL1 { 
    background-color: #2f6983;
    margin-left: 6px;
    margin-top: 6px;
    margin-bottom: 6px;
}
#TRL2 { 
    background-color: #ff7c43;
    margin-top: 6px;
 }
#TRL3 { 
    background-color: #ff7c43;
    margin-top: 6px;
 }
#TRL4 { background-color: #ff7c43;
    margin-top: 6px;
}
#TRL5 { background-color: #4CAF50 ;
    margin-top: 6px;
}
#TRL6 { background-color: #4CAF50;
    margin-top: 6px;
}
#TRL7 { background-color: #4CAF50;
    margin-top: 6px;
 }
#TRL8 { background-color: skyblue;
    margin-top: 6px;
 }
#TRL9 { 
    background-color: skyblue;
    margin-right: 6px;
    margin-top: 6px;
    margin-bottom: 6px;
}

