
/* styles_fields.css */
body {
    font-family: 'Merriweather', serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.header {
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 100px;
    margin-right: 10px;
}

.title-container {
    flex-grow: 1;
    text-align: center;
}

.title-container h1 {
    margin: 0;
    font-size: 3em;
}

.version {
    font-size: 2em;
}

.section {
    padding: 20px;
}

form {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

fieldset {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 10px;
}

legend {
    font-weight: bold;
    font-size: 2.5em;
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 2em;
    margin-left: 20px;
}

input[type='checkbox']{
    transform: scale(2.5);
    margin-right: 20px;
}

input[type="submit"] {
    background-color: #0056b3;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 50px;
}

input[type="submit"]:hover {
    background-color: #004494;
}

/* Hide the options at the top if they exist */
.header + nav, .header + .tabs {
    display: none;
}

.popup {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #fff;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.close {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.highlight {
    border: 2px solid #ff0000;
    border-radius: 50%;
}

#trlGraph {
    position: relative;
    text-align: center;
}

#trlGraph img {
    width: 100%;
}

.trl-circle {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

#trl1 { top: 20px; left: 60px; }
#trl2 { top: 20px; left: 160px; }
#trl3 { top: 20px; left: 260px; }
#trl4 { top: 20px; left: 360px; }
#trl5 { top: 20px; left: 460px; }
#trl6 { top: 20px; left: 560px; }
#trl7 { top: 20px; left: 660px; }
#trl8 { top: 20px; left: 760px; }
#trl9 { top: 20px; left: 860px; }

img{
    width: 200px;
}

/* .option{
    font-size: 30px;
} */

