/*
body {
    background-color: #000123;
    color: #ecf0f1;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    text-align: center;
    padding: 20px;
}

.header h1 {
    margin: 0;
    font-size: 2.5em;
}

.header h2 {
    margin: 0;
    font-size: 1.5em;
    color: #bdc3c7;
}

.navigation {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #000123;
}

.navigation a.button {
    background-color: transparent;
    color: #b9c039;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, font-weight 0.3s;
}

.navigation a.button:hover {
    background-color: rgba(255, 255, 255, 0.1);
    font-weight: bold;
}

.navigation a.button.active {
    background-color: #b9c039;
    color: #fff;
}

.section {
    padding: 20px;
}

.section h3 {
    color: #ecf0f1;
}

.section label {
    display: block;
    margin-bottom: 10px;
}

.footer {
    text-align: center;
    padding: 20px;
}

.footer button {
    background-color: #b9c039;
    border: none;
    padding: 10px 20px;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
}


@media (max-width: 768px) {
    .navigation {
        flex-direction: column;
        gap: 15px;
    }

    .navigation a.button {
        font-size: 1em;
        padding: 10px;
    }
}

@media (max-width: 480px) {
    .header h1 {
        font-size: 2em;
    }

    .navigation a.button {
        font-size: 0.9em;
        padding: 8px;
    }
}
*/
/* styles_fields.css */
/* styles_fields.css */
/* styles_fields.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.header {
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    height: 50px;
    margin-right: 10px;
}

.title-container {
    flex-grow: 1;
    text-align: center;
}

.title-container h1 {
    margin: 0;
}

.version {
    font-size: 0.9em;
}

.section {
    padding: 20px;
}

form {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

fieldset {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 10px;
}

legend {
    font-weight: bold;
    font-size: 1.5em;
    
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="submit"] {
    background-color: #0056b3;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #004494;
}

/* Hide the options at the top if they exist */
.header + nav, .header + .tabs {
    display: none;
}
