{% extends "base.html" %}


{%block stylesheet%} /static/css/styles_resultados.css {%endblock%}

{%block header%}
    <div class="header">
        <div class="title-container">
            <h1>Resultados CRL</h1>
        </div>
    </div>
{%endblock%}
{%block content%}
    <div class="resultados">
        {%if data.CRL != 'none' %}
            <h2>El CRL de su proyecto es: {{data.CRL}} </h2>
        {%else%}
        <div class="resultados-detalles">
            <h2>Los resultados de su proyecto no alcanzan algún nivel de CRL.</h2>
        {%endif%}

        <h3>Alternativas seleccionadas:</h3>
        <ul>
        {%if data.answers == "No ha seleccionado ninguna opción" %}
            <li>{{data.answers}}</li>
        {%else%}
            {%for answer in data.answers%}
                <li> {{answer}} </li>
            {%endfor%}
        {%endif%}
        </ul>
        </div>
    </div>
    <script src="script.js"></script>
{%endblock%}