{% extends "trl/base.html" %}


{%block stylesheet%} /static/css/styles.css {%endblock%}

{%block header%}
    <div class="header">
        <div class="title-container">
            <h1>Calculadora TRL-Ingeniería y Tecnología</h1>
        </div>
    </div>
{%endblock%}

<body>
    {%if data.CRL != 'none' %}
        <h3>El CRL de su proyecto es: {{data.CRL}} </h3>
    {%else%}
        <h3>Los resultados de su proyecto no alcanzan algún nivel de CRL.</h3>
    {%endif%}

    <h4>Alternativas seleccionadas:</h4>
    {%if data.answers == "No ha seleccionado ninguna opción" %}
        <p>{{data.answers}}</p>
    {%else%}
        {%for answer in data.answers%}
            <p> {{answer}} </p>
        {%endfor%}
    {%endif%}
    
    <script src="script.js"></script>
</body>
</html>