<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}Calculadora de TLR y CLR{%endblock%}</title>
    <link rel="stylesheet" href=" {%block stylesheet%} /static/css/styles.css {%endblock%}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
</head>

<body>
    <div class="main-content">
        <header>
            <div class="header-container">
                <span class="version1">Para uso exclusivo del Taller de Presentación y Validación de herramientas de medición de TRL y CRL</span>
                {%block header%}<h1>Calculadora TLR/CRL</h1>{%endblock%}
                <span class="version">Versión alpha 1.2</span>
            </div>
        </header>

        {%block content%}

        {%endblock%}
    </div>
    
    <footer class="logo-container">
        <img src="/static/images/logo_concytec_horizontal.png" alt="Logo1" class="logo">
        <img src="/static/images/logo_vinculate.png" alt="Logo2" class="logo">
    </footer>
</body>
</html>