{% extends "base.html" %}


{% block content %}
    <main>
        <div class="container-datos">
            <h2>Formulario de Registro</h2>
            <form  id="formulario-registro">
                <div class="form-group-datos">
                    <label for="first_name">Nombres:</label>
                    <input type="text" id="first_name" name="first_name" required>
                </div>
                <div class="form-group-datos">
                    <label for="last_name">Apellidos:</label>
                    <input type="text" id="last_name" name="last_name" required>
                </div>
                <div class="form-group-datos">
                    <label for="company">Compañía o Entidad:</label>
                    <input type="text" id="company" name="company" required>
                </div>
                <div class="form-group-datos">
                    <label for="job">Cargo</label>
                    <input type="text" id="job" name="job" required>
                </div>
                <div class="form-button">
                    <button type="submit" class="submit-button">Enviar</button>
                </div>>
            </form>
        </div>
    </main>
    <script>
        document.addEventListener('DOMContentLoaded',function () {
            const formResults = document.getElementById('formulario-registro')
            formResults.addEventListener('submit',function (event) {
                event.preventDefault();
                const formData = new FormData(formResults);
                const first_name = formData.get('first_name');
                const last_name = formData.get('last_name')
                const company = formData.get('company');
                const job = formData.get('job');
                
                const objForm = {
                    first_name,
                    last_name,
                    company,
                    job
                }
                localStorage.setItem('datos_formulario', JSON.stringify(objForm))
                
                fetch("/register_participant",{
                    method : 'POST',
                    body :  formData
                }).then(response=>response.json())
                .then(data=>{

                    console.log("Respuesta del servidor ", data);
                    if (!data['error']) {
                        window.location.href = '/home'
                        return;
                    }
                    alert('Algo salio mal :/')
                })
                .catch(err=>{
                    console.log('Error : ', err)
                })
            })
        })
    </script>
{% endblock %}