<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TRL Proyect</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>

    <div id="contenedor-main">
        <header id="main-title">Bienvenidos a la calculadora de TRL</header>
        <section id="contenedor-fields">
            <button class="btn-field" onclick="toEndPoint('/agricultura_silvicultura/')">Agricultura y Silvicultura</button>
            <button class="btn-field" onclick="toEndPoint('/ingenieria_tecnologia/')">Ingeniería y Tecnología</button>
            <button class="btn-field" onclick="toEndPoint('/ciencias_medicas_salud/')">Ciencias Médicas y Salud</button>
            <button class="btn-field" onclick="toEndPoint('/pesca/')">Pesca</button>
            <button class="btn-field" onclick="toEndPoint('/software_hardware/')">Software y Hardware</button>
        </section>
    </div>

    <script>
        function toEndPoint(endpoint){
            window.location.href=endpoint;
        }
    </script>

</body>
</html>