{% extends "base.html" %}

{% block content %}
    <main>
        <div class="card">
            <a href="/trl_fields/">
                <img src="https://res.cloudinary.com/dsrndwnaj/image/upload/t_inicio-trl/ssme9uysr3md0vfzye6a.jpg" alt="Solo TRL">
                <h3>Solo TRL</h3>
                <p>Los niveles de madurez tecnológica o Technology Readiness Level (TRL) es una escala para clasificar tecnología en relación al grado de desarrollo en el que se encuentra y cuánto le falta para llegar a entrar al mercado.</p>
            </a>
        </div>
        <div class="card">
            <a href="/crl/">
                <img src="https://res.cloudinary.com/dsrndwnaj/image/upload/t_inicio-crl/b5ingx2qz364hleq9oiy.jpg" alt="Solo CRL">
                <h3>Solo CRL</h3>
                <p>El nivel de madurez comercial o Commercialization Readiness Level (CRL) busca clasificar la tecnología en relación a la necesidad de aspecto de comercialización.</p>
            </a>
        </div>
    </main>
{% endblock%}
