<!--
    <main>
        <div class="categories">
            <a href="/ingenieria_tecnologia/" class="category">Ingeniería y Tecnología</a>
            <a href="/software_hardware/" class="category">Software y Hardware</a>
            <a href="/agricultura_silvicultura/" class="category">Agricultura y Silvicultura</a>
            <a href="/pesca/" class="category">Pesca y Acuicultura</a>
            <div class="category">
                <span>Ciencias Médicas y de la Salud</span>
                <div class="submenu">
                    <a href="/ciencias_medicas_salud_dispositivos">Dispositivos Médicos</a>
                    <a href="/ciencias_medicas_salud_medicamentos">Medicamentos</a>
                </div>
            </div> <!--Dispositivos médicos / medicamentos-->
            <!--
            <a href="/general/" class="category">Otras disciplinas</a>
        </div>
    </main>

-->

{% extends "base.html" %}

{%block stylesheet%} /static/css/styles.css {%endblock%}
{%block header%}<h1>Calculadora TLR</h1>{%endblock%}
{% block content %}
    <main>
        <div class="categories">
            <a href="/ingenieria_tecnologia/" class="category">
                <img src="https://res.cloudinary.com/dsrndwnaj/image/upload/t_ingenieria/sues0gv2wnjbww0dp7wm.jpg" alt="Ingeniería y Tecnología">
                <span>Ingeniería y Tecnología</span>
            </a>
            <a href="/software_hardware/" class="category">
                <img src="https://res.cloudinary.com/dsrndwnaj/image/upload/t_software/snahc9u14ssneac0vbgq.jpg" alt="Software y Hardware">
                <span>Software y Hardware</span>
            </a>
            <a href="/agricultura_silvicultura/" class="category">
                <img src="https://res.cloudinary.com/dsrndwnaj/image/upload/t_agricultura-silv/i6iqxfvo9g6icu0u1fbr.jpg" alt="Agricultura y Silvicultura">
                <span>Agricultura y Silvicultura</span>
            </a>
            <a href="/pesca/" class="category">
                <img src="https://res.cloudinary.com/dsrndwnaj/image/upload/c_crop,h_4000,w_6000/co_rgb:005074,e_colorize:70/k0nyjdoemblaxlyocfca.jpg" alt="Pesca y Acuicultura">
                <span>Pesca y Acuicultura</span>
            </a>
            <div class="category flip-container">
                <div class="flipper">
                    <div class="front">
                        <img src="https://res.cloudinary.com/dsrndwnaj/image/upload/t_ciencias-medicas/yvrwy8omnedz2bgw53xr.jpg" alt="Ciencias Médicas y de la Salud">
                        <span>Ciencias Médicas y de la Salud</span>
                    </div>
                    <div class="back">
                        <a href="/ciencias_medicas_salud_medicamentos" class="sub-category">Medicamentos</a>
                        <a href="/ciencias_medicas_salud_dispositivos" class="sub-category">Dispositivos Médicos</a>
                    </div>
                </div>
            </div>
            <a href="/general/" class="category">
                <img src="https://res.cloudinary.com/dsrndwnaj/image/upload/t_generales/aymynldeqqr8x7axuwah.jpg" alt="Otras disciplinas">
                <span>Otras disciplinas</span>
            </a>
        </div>
    </main>
{% endblock %}

